
      
       <center><h1>Tennis Hobby</h1></center>
      
          <div class="container">
          <div class="jumbotron">
          <div class="row">
            <div class="col-md-6">
          <article>
           
            <h3>Playing Tennis</h3> 
              <img src="http://res.freestockphotos.biz/pictures/16/16314-a-woman-playing-tennis-pv.jpg" class="img-circle"  width="325" height="325" border="12">
              
            </div> 
             <br>
             <br>
            
            <div class="col-md-6">
              <p>Playing tennis get you moving and moving is good for the body and the mind. One of 
            the great thing about tennis is that it's a sport that can be played at nearly any age. 
            I really like to play tennis I always play tennis during summer break. Tennis is a 
            really good game it give you energy. Tennis is a sport played on a court with a racket and a ball. 
            It can be played by two (as in singles) or four (as in doubles) indoors or outdoors.  
            Courts are divided by a net and marked with two sets of lines, one for singles and one for doubles play.</p>
            </div>
            </div>
            
            </article>
           
          
          <div class="col-md-6">
           <article>
            <h3>Tennis benefits</h3>
               <img src="http://res.freestockphotos.biz/pictures/11/11709-a-beautiful-girl-with-tennis-gear-pv.jpg" class="img-circle"  width="325" height="325" border="12">
              
           </div>
            <br>
            <br>
            
            <div class="col-md-6">
              <p >Tennis has good benefits for the mind and body that why I am interested 
            in playing tennis always make you feel good and always maintain your health.
            Tennis is a good workout for the body. You should follow the rules in tennis
            if you would like to win.Tennis is a really famous game alot of people like 
            playing tennis. Tennis make you stay fit and I really like tennis. I play tennis to make 
            my self stay fit.</p>
           </div>
           </article>
          
            <nav>
                 <a href="http://xstennis.org/about-us/">Learn About Tennis</a> |
                 <a href="http://xstennis.org/accomplishments/">Accomplishments</a> |
                 <a href="http://xstennis.org/programs/">Programs</a> |
                 <a href="https://xstennis.org/donate-to-xstef/">Donate</a> 
            </nav>
            
        <footer>
            <p3>&#169;2016 Tennis for Fitness&#174;International.All right reserved. "Tennis for Fitness"&#174;is a registered service mark owned by Tennis
        for Fitness International. Tennis&#174;is a service mark of Tennis for Fitness International.</p3>
        </footer>
    
