
       
       <center><h1>Mather High School</h1></center>
       
         <div class="container">
           <div class="row">
             <div class="col-md-6">
           <br>
           <br>
            <img src="https://pbs.twimg.com/profile_images/3316619572/2cc60ee3bf4796e96da5053d8b07ee70_400x400.jpeg" class="img-thumbnail"  width="450" height="500">
         </div>
        
        <div class="row">
        <div class="col-md-6">
          
          <br>
          <br>
          <br>
          
          <table border="3">
              <tr class="odd">
                <th colspan="5">Time sheet</th>
              </tr>
              
              <tr class="even">
                <th  rowspan="7">Mather</th>
                <th>Day</th>
                <th>Hours</th>
              </tr>
              
              <tr class="odd">
                <td>Monday</td>
                <td>8</td>
              </tr>
              
              <tr class="even">
                <td>Tuesday</td>
                <td>8</td>
              </tr>
              
              <tr class="odd">
                <td>Wednesday</td>
                <td>8</td>
              </tr>
              
              <tr class="even">
                <td>Thursday</td>
                <td>8</td>
              </tr>
              
              <tr class="odd">
                <td>Friday</td>
                <td>7</td>
              </tr>
              
              <tr class="even">
                <th>Total</th>
                <th>39</th>
              </tr>
          </table>
          </div>
          </center>
        
  
  
