
        
            <center><h1>Personal Information</h1></center>
            
             <div class="container">
               <div class="jumbotron">
                <div class="row">
                  <div class="col-md-12">
                <center><img src="http://www.hamleys.com/images/_lib/hamleys-snowball-teddy-bear-11-2524-0-1417097799000.jpg" align="middle" class="img-rounded"  width="300" height="300"></center>
                </div>
            
            <div class="row">
                 <div class="col-md-12">
            <br>
            <br>
              
            <center><p> My name is Mariyam and I’m currently a junior at Mather High
            
            School. I am Photoshop certified. After school I go to art club. I am interested in playing tennis and basketball. 
            
            My Hobby is to read  books for 1 hour every day to become a good reader. I am the 
            
            project manager for my team because I have great time 
            
            management, and organizational skills. I have the strong 
            
            interpersonal skills, planning abilities, and mental energy to work successfully with my 
            
            group to design and create website and mobile app for the company. As the Project 
            
            manager I use my positive attitude to motivate group members. I believe that I can 
            
            creatively inspire and support my team to be successful.  After I graduate from high 
            
            school, I am planning to attend university and  become a Doctor.</p></center>
            
            </div>
            </div>