
  
  <center><h1> Favorite Sport</h1></center>

     <br>
      <div class="container">
        <div class="jumbotron">
          
          <br>
          <br>
         <div class="row">
          <div class="col-md-6">
            <img src="http://cdn.history.com/sites/2/2015/02/ask-history-who-invented-basketball-iStock_000006523151Large-E.jpeg" class="img-rounded"  width="300" height="300">
            
               <br>
               <br>
               <br>
                <p>My favorite sport is basketball I really like to play basketball. Basketball is a team game played on a court.  
              Each five-person team attempts to throw or dunk an inflated ball into the opponent's basket, which is mounted on a backboard 
              that is ten feet above the floor.  The International Basketball Federation is the recognized governing body for basketball
              world wide.  Founded in 2002, FIBA aims to create a worldwide basketball network to achieve a sustainable continuous growth of 
              the sport of basketball.  USA Basketball, a non-profit corporation, is the national governing body for men's and women's basketball
              in the United States.</p>
              </div>
            
          <div class="col-md-6">
            <img src="https://c2.staticflickr.com/4/3279/2539866589_8efb70ab52_z.jpg?zz=1" class="img-rounded"  width="300" height="300">
               <br>
               <br>
               <br>
               <p>A basketball hoop is located at each end of the court.  This consists of a pole with an orange-painted iron ring of 45 centimeters in diameter and bottomless net of
              white cord on a backboard which is ten feet above court level.  Backboards are made of hardwood painted white or transparent material of comparable rigidity.  
              The backboard measures 6 feet horizontally and 4 feet vertically.  The basketball is round and made of either leather, rubber, or molded nylon casing around a 
              rubber inner bladder.  It is typically orange in color, with black panel markings.</p>
          </div>
        </div>
       </div>
      </div>
              
          
         